<div class="container-fluid bg-container">
        <div class="container">
                 <div class="text-center pt-4 pb-4">
                     <h2 class="text-center">HOW IT WORKS</h2>
                 </div>

                 <div class="row d-flex justify-content-center" style="position: relative;">
                     <div class="col-lg-3 card border-0 text-center d-flex justify-content-center">
                         <div class="card-img-top d-flex text-center  justify-content-center">
                             <div class="circle-10-hiw">1</div>
                         </div>
                         <div class="card-body">
                         <div class="card-title text-center">
                             <H4 class="font-weight-bold">Signup</H4>
                         </div>
                         <div class="card-text text-center">
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima architecto sapiente ducimus quod asperiores saepe.</p>
                         </div>
                        </div>

                        
                        <i class="fas fa-arrow-right" style="position: absolute; top: 17px; right: 0;"></i>
                     </div>

                     
                   

                     <div class="col-lg-3 card border-0 text-center d-flex justify-content-center" style="position: relative;">
                            <div class="card-img-top d-flex text-center  justify-content-center">
                                <div class="circle-10-hiw">2</div>
                            </div>
                            <div class="card-body">
                            <div class="card-title text-center">
                                <H4 class="font-weight-bold">Signup</H4>
                            </div>
                            <div class="card-text text-center">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima architecto sapiente ducimus quod asperiores saepe.</p>
                            </div>
                           </div>


                           <i class="fas fa-arrow-right" style="position: absolute; top: 17px; right: 0;"></i>
                        </div>

                        <div class="col-lg-3 card border-0 text-center d-flex justify-content-center">
                                <div class="card-img-top d-flex text-center  justify-content-center">
                                    <div class="circle-10-hiw">3</div>
                                </div>
                                <div class="card-body">
                                <div class="card-title text-center">
                                    <H4 class="font-weight-bold">Signup</H4>
                                </div>
                                <div class="card-text text-center">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima architecto sapiente ducimus quod asperiores saepe.</p>
                                </div>
                               </div>
                            </div>
                 </div>

                 <div class="row d-flex justify-content-center text-center">
                     <div class="col-lg-9 col-md-9 col-sm-9">
                         <img src="{{'Device.png' | asset_url}}" alt="">
                     </div>
                 </div>

                 </div>
                 </div>





{% schema %}
{
  "name": "How it works 10",
    "max_blocks": 3,
  "settings": [
  {
    "id": "text-box-title",
    "type": "text",
    "label": "Blog",
    "default": "Title"
  },
  {
    "id": "blog-title",
    "type": "text",
    "label": "Title of Blog",
    "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
  },
  {
    "id": "description-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "How it works 10",
      "category": "Blog",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}