<div class="container-fluid bg-container">
        <div class="container">
                 <div class="text-center pt-4 pb-4">
                     <h2 class="text-center">HOW IT WORKS</h2>
                 </div>

                 <div class="row d-flex justify-content-between justify-content-center">
                        <div class="card col-lg-3 col-md-4 border-0">
                            <div class="card-img-top">
                                    <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="" style="position: relative;">
                                    <div class="carousel-caption p-0 " style="top: 162px; left:24px; position: absolute;">
                                    <h4 class="text-left p-0 font-weight-bold"> Install Our App</h4>
                                    </div>
                                  </div>

                                    <div class="card-text pt-3">
                                      <p class="text-muted " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis libero molestias minima unde earum quas quia ipsam aspernatur ad maiores impedit voluptatem, .</p>
                                    </div>
                            
                        </div>

                        <div class="card col-lg-3 col-md-4 border-0">
                          <div class="card-img-top">
                                  <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="" style="position: relative;">
                                  <div class="carousel-caption p-0 " style="top: 162px; left:24px; position: absolute;">
                                  <h4 class="text-left p-0 font-weight-bold"> Install Our App</h4>
                                  </div>
                                </div>

                                  <div class="card-text pt-3">
                                    <p class="text-muted " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis libero molestias minima unde earum quas quia ipsam aspernatur ad maiores impedit voluptatem, .</p>
                                  </div>
                          
                      </div>

                      <div class="card col-lg-3 col-md-4 border-0">
                        <div class="card-img-top">
                                <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="" style="position: relative;">
                                <div class="carousel-caption p-0 " style="top: 162px; left:24px; position: absolute;">
                                <h4 class="text-left p-0 font-weight-bold"> Install Our App</h4>
                                </div>
                              </div>

                                <div class="card-text pt-3">
                                  <p class="text-muted " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis libero molestias minima unde earum quas quia ipsam aspernatur ad maiores impedit voluptatem, .</p>
                                </div>
                        
                    </div>
                 </div>

                 <div class="row text-center d-flex justify-content-center pt-5 pb-5">
                  <button type="button" class="rounded btn-outline-secondary text-center px-5 px-2" style="background-color: transparent;"><h5>Watch More <i class="far fa-play-circle"></i></h5></button>
                 </div>


                 </div>
                 </div>


                 {% schema %}
                 {
                   "name": "How it works 3",
                     "max_blocks": 3,
                   "settings": [
                   {
                     "id": "text-box-title",
                     "type": "text",
                     "label": "Blog",
                     "default": "Title"
                   },
                   {
                     "id": "blog-title",
                     "type": "text",
                     "label": "Title of Blog",
                     "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
                   },
                   {
                     "id": "description-text",
                     "type": "text",
                     "label": "Description",
                     "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
                   }
                   ],
                 
                   "blocks": [
                     {
                       "type": "select",
                       "name": "Add New Section",
                       "settings": [
                        
                       ]
                     }
                   ],
                   "presets": [
                     {
                       "name": "How it works 3",
                       "category": "Blog",
                       "blocks": [
                         { 
                           "type": "select"
                         },
                         {
                           "type": "select"
                         }
                        
                       ]
                     }
                   ]
                 }
                 {% endschema %}
                 