<div class="container-fluid bg-container mt-5">
    <div class="container metrics9">

        <div class="row rowM9 d-flex justify-content-center mb-4 pb-sm-5 pb-xs-5 ">
            <!-- main title -->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <div class="text-title text-lg-right text-xs-left text-sm-left">
                        <h2 class="font-weight-bold text-lg-right text-xs-left text-sm-left">
                               We're Growing quickly 
                        </h2>
                    </div>
                </div>



            <!-- text description -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  pt-4">
                    <div class="text-description text-left ">
                        <p class="text-muted text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione deserunt, animi eaque numquam sit quis sint atque cumque reiciendis reprehenderit, tempora velit ad, voluptas accusantium iusto beatae sequi in!</p>
                    </div>

                </div>



            <!-- button -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex align-items-center metrics9 mb-xs-4 mb-sm-4">
                    <span class="text-uppercase">
                        see report
                    </span>
                </div>
        </div>

        <!-- BODY -->

        <div class="row d-flex justify-content-center">

            <!-- first col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>
            </div>


            <!-- second col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>

                    
                    <div class="row ">
                            <div class="d-flex flex-row">
                                <div>
                                    <h5 class="mr-3">Active Users</h5>
                                </div>

                                <div class="slider-container d-flex align-items-center">
                                    <input type="range" min="1" max="100" value="1" id="myrange" class="slider">
                                </div>
                            </div>
                    </div>
            </div>

        </div>



    </div>
</div>















{% schema %}
{
  "name": "Metrics 9",
	"max_blocks": 4,
  "settings": [
    

      
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
      

      ]
    }
  ],
  "presets": [
    {
      "name": "Metrics 9",
      "category": "Metrics",
      "blocks": [
        { 
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}

