<div class="container-fluid bg-container">
    <div class="container">
        <div class="text-center font-weight-bold">
            <h1>Why people love form</h1>
        </div>
        

        <div class="row d-flex justify-content-center">
            <div class="card col-lg-3 col-md-3 col-sm-12 col-xs-12 testi-1 card-circle border-0 m-4">
                <div class="card-img-top d-flex justify-content-center">
                              <img src="{{'Combined-Shape.png' | asset_url}}" alt="" class="pic-test-1 mt-4">
                </div>
               
                  <h5 class="text-test text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eos cupiditate cumque voluptates repellat itaque.</h5>

                  <div class="card-text mt-4">
                  <div class="card-title text-center m-0">
                    <h4 class="font-weight-bold m-0">Seacn Farmer</h4>
                  </div>
                  <div class="text-center card-subtitle m-0">
                    <h5 class="m-0">Job Title</h5>
                  </div>
                </div>
                
            </div>

          
            <div class="card col-lg-3 col-md-3 col-sm-12 col-xs-12 testi-1 card-circle border-0 m-4">
              <div class="card-img-top d-flex justify-content-center">
                            <img src="{{'Combined-Shape.png' | asset_url}}" alt="" class="pic-test-1 mt-4">
              </div>
             
                <h5 class="text-test text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eos cupiditate cumque voluptates repellat itaque.</h5>

                <div class="card-text mt-4">
                <div class="card-title text-center m-0">
                  <h4 class="font-weight-bold m-0">Seacn Farmer</h4>
                </div>
                <div class="text-center card-subtitle m-0">
                  <h5 class="m-0">Job Title</h5>
                </div>
              </div>
              
          </div>


          <div class="card col-lg-3 col-md-3 col-sm-12 col-xs-12 testi-1 card-circle border-0 m-4">
            <div class="card-img-top d-flex justify-content-center">
                          <img src="{{'Combined-Shape.png' | asset_url}}" alt="" class="pic-test-1 mt-4">
            </div>
           
              <h5 class="text-test text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eos cupiditate cumque voluptates repellat itaque.</h5>

              <div class="card-text mt-4">
              <div class="card-title text-center m-0">
                <h4 class="font-weight-bold m-0">Seacn Farmer</h4>
              </div>
              <div class="text-center card-subtitle m-0">
                <h5 class="m-0">Job Title</h5>
              </div>
            </div>
            
        </div>
        </div>
    </div>

</div>



{% schema %}
{
  "name": "Testimonials 1",
	"max_blocks": 3,
  "settings": [
  {
    "id": "text-box-title",
    "type": "text",
    "label": "Blog",
    "default": "Title"
  },
  {
    "id": "blog-title",
    "type": "text",
    "label": "Title of Blog",
    "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
  },
  {
    "id": "description-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials 1",
      "category": "Testimonials",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}